services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    environment:
      # Set your desired root user and password
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      # Optional: automatically create a default bucket on startup
      MINIO_DEFAULT_BUCKETS: my-first-bucket
    ports:
      # API port (e.g., for S3 clients)
      - "9000:9000"
      # Console UI port (e.g., for browser access)
      - "9090:9090"
    volumes:
      # Persist data to a local volume named 'minio_data'
      - minio_data:/data
    command: >
      server --console-address ":9090" /data

  iceberg:
    image: tabulario/iceberg-rest:latest
    ports:
      - "8181:8181"
    environment:
      CATALOG_WAREHOUSE: s3://warehouse/
      CATALOG_IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_REGION: us-east-1
      S3_ENDPOINT: http://minio:9000
      S3_PATH_STYLE_ACCESS: "true"

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    depends_on:
      - iceberg
      - minio
    volumes:
      - ./trino/catalog:/etc/trino/catalog

# Define the volume for persistent data
volumes:
  minio_data:
  pgdata:

